@font-face {
    font-family: "icons";
    src: url("./icons.eot?47e02f4d2ddd45e19b6b17cc34f7b5d6?#iefix") format("embedded-opentype"),
url("./icons.woff2?47e02f4d2ddd45e19b6b17cc34f7b5d6") format("woff2"),
url("./icons.woff?47e02f4d2ddd45e19b6b17cc34f7b5d6") format("woff"),
url("./icons.ttf?47e02f4d2ddd45e19b6b17cc34f7b5d6") format("truetype"),
url("./icons.svg?47e02f4d2ddd45e19b6b17cc34f7b5d6#icons") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
    content: "\f101";
}