.video-hero{
	@extend .video-item;
	padding-top: 56.25%;

	.details{
		bottom: 0;
		opacity: 1;
	}

	&:hover{
		.langs{
			.spanish, .latam, .english{
				margin-left: 0;
				opacity: 1;
			}
		}
	}
}